{% extends "base.html" %}

{% block content %}
   <h2>View code template 'Entry Fill' for exchange '{{exchange_name}}'</h2>
     <div class="card">
         <div class="card-header">
              Entry Fill
         </div>
      <div class="card-body">
            <pre>
               <code>
                ##COINTICKER## EF##ENTRYINDEX## ADD ##DIRECTION## ##SIGNAL##. ##TPSUMMARY##
                ##ENTRYDOLLAR## Entry Price
                signal from ##SIGNAL##
                MARKET ##DIRECTION##
                ##TPDESCRIPTION##
               ##SLDESCRIPTION##
               ##INDIVIDUALACCOUNTORDERS##
               #rb
              #bot
                </code>
             </pre>
       </div>
       <div class="card-footer">
           <a href="{{ url_for('code_templates', exchange_name=exchange_name) }}" class="btn btn-secondary">Back to Code Templates</a>
           <a href="{{ url_for('edit_entry_fill_template', exchange_name=exchange_name) }}" class="btn btn-primary">Edit Code Template</a>
        </div>
    </div>
{% endblock %}